language: bash
sudo: required
before_script:
- sudo apt-get update -qq
- sudo apt-get install -y cmake
- sudo apt-get install -y make
notifications: slack: pintade:pwNqkJawHhR2pEm1vWg4UWjz
script: bash install.sh